@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is designed for use as a tool to supplement the <a href="http://agon-rpg.com/index.html">Agon TTRPG</a>.</p>
<p>Designed by Mike N. Shoemake</p>
