@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <p>You can contact me regarding bugs and feature suggestions at:</p>
    <strong>Email</strong> <a href="mailto:michael.nhu.shoemake@gmail.com">michael.nhu.shoemake@gmail.com</a><br />
</address>
