@model Hephaestus.Models.Hero

@{
    ViewData["Title"] = "EditHero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditHero</h2>

<h4>Hero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHero">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Epithet" class="control-label"></label>
                <input asp-for="Epithet" class="form-control" />
                <span asp-validation-for="Epithet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpithetDie" class="control-label"></label>
                <input asp-for="EpithetDie" class="form-control" />
                <span asp-validation-for="EpithetDie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameDie" class="control-label"></label>
                <input asp-for="NameDie" class="form-control" />
                <span asp-validation-for="NameDie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lineage" class="control-label"></label>
                <input asp-for="Lineage" class="form-control" />
                <span asp-validation-for="Lineage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDemigod" /> @Html.DisplayNameFor(model => model.IsDemigod)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Pronouns" class="control-label"></label>
                <input asp-for="Pronouns" class="form-control" />
                <span asp-validation-for="Pronouns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HonoredGod" class="control-label"></label>
                <input asp-for="HonoredGod" class="form-control" />
                <span asp-validation-for="HonoredGod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtsAndOrationDie" class="control-label"></label>
                <input asp-for="ArtsAndOrationDie" class="form-control" />
                <span asp-validation-for="ArtsAndOrationDie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodAndValorDie" class="control-label"></label>
                <input asp-for="BloodAndValorDie" class="form-control" />
                <span asp-validation-for="BloodAndValorDie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CraftAndReasonDie" class="control-label"></label>
                <input asp-for="CraftAndReasonDie" class="form-control" />
                <span asp-validation-for="CraftAndReasonDie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResolveAndSpiritDie" class="control-label"></label>
                <input asp-for="ResolveAndSpiritDie" class="form-control" />
                <span asp-validation-for="ResolveAndSpiritDie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorGodName1" class="control-label"></label>
                <input asp-for="FavorGodName1" class="form-control" />
                <span asp-validation-for="FavorGodName1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorGodName2" class="control-label"></label>
                <input asp-for="FavorGodName2" class="form-control" />
                <span asp-validation-for="FavorGodName2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorGodName3" class="control-label"></label>
                <input asp-for="FavorGodName3" class="form-control" />
                <span asp-validation-for="FavorGodName3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorGodName4" class="control-label"></label>
                <input asp-for="FavorGodName4" class="form-control" />
                <span asp-validation-for="FavorGodName4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorScore1" class="control-label"></label>
                <input asp-for="FavorScore1" class="form-control" />
                <span asp-validation-for="FavorScore1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorScore2" class="control-label"></label>
                <input asp-for="FavorScore2" class="form-control" />
                <span asp-validation-for="FavorScore2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorScore3" class="control-label"></label>
                <input asp-for="FavorScore3" class="form-control" />
                <span asp-validation-for="FavorScore3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorScore4" class="control-label"></label>
                <input asp-for="FavorScore4" class="form-control" />
                <span asp-validation-for="FavorScore4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
