@using System.Configuration
@using Microsoft.Extensions.Configuration;
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <img class="center-block" src="~/images/helmeticon.png" width="200" height="200"/>
            <br />
            <br />
            <a class="btn btn-primary center-block" asp-controller="Home" asp-action="CreateHero" role="button">Create a Hero</a>
        </div>
        <div class="col-xs-6">
            <img class="center-block" src="~/images/personicon.png" width="200" height="200"/>
            <br />
            <br />
            <a class="btn btn-primary center-block" asp-controller="Home" asp-action="CreateUser" role="button">Create a Profile</a>
        </div>
    </div>
</div>
<br />