@using System.Configuration
@using Microsoft.Extensions.Configuration;
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<a class="btn btn-primary" asp-controller="Home" asp-action="CreateHero" role="button">Create a Hero</a>
<br />
<a class="btn btn-primary" asp-controller="Home" asp-action="CreateUser" role="button">Create a Profile</a>
